In [1]:
import requests
import pprint
import json

In [2]:
import pandas as pd
import numpy as np

<h3> TESTING

In [4]:
url = 'http://api.divesites.com/?mode=sites'

In [5]:
# Testing API 
lat = '47.6031537682643'
lng = '-122.336164712906'
dist = '2'

In [6]:
query_url = url + '&lat=' + lat + '&lng=' + lng + '&dist=' + dist

In [7]:
pp = pprint.PrettyPrinter(indent = 4)

In [8]:
sites = requests.get(query_url).json()
print(json.dumps(sites, indent = 4, sort_keys = True))

{
    "loc": {
        "lat": "47.6031537682643",
        "lng": "-122.336164712906"
    },
    "request": {
        "api": 1,
        "dist": "2",
        "loc": {
            "lat": "47.6031537682643",
            "lng": "-122.336164712906"
        },
        "mode": "sites",
        "str": null,
        "timestamp": 1607043518
    },
    "result": true,
    "sites": [
        {
            "currents": null,
            "description": null,
            "distance": "0.41",
            "equipment": null,
            "hazards": null,
            "id": "17631",
            "lat": "47.6075",
            "lng": "-122.3421",
            "marinelife": null,
            "maxdepth": null,
            "mindepth": null,
            "name": "Seattle Aquarium",
            "predive": null,
            "water": null
        }
    ],
    "version": 1
}

In [9]:
site_name = sites["sites"][0]["name"]
site_name

'Seattle Aquarium'

In [10]:
site_id = sites["sites"][0]["id"]
site_id

'17631'

In [11]:
#Distance from the original coordinates in miles
distance = sites["sites"][0]["distance"]
distance

'0.41'

In [12]:
# Importing test csv to run through api 
test_df = pd.read_csv('Resources/testing.csv')
test_df

,RECRD,VESSLTERMS,FEATURE_TYPE,LATDEC,LONDEC
0,15083,WRECK,"Wreck - Submerged, nondangerous",18.448611,-65.599444
1,10864,HMS LOWESTOFFE,"Wreck - Submerged, nondangerous",21.515556,-72.884444
2,3,FERNGARTH,"Wreck - Submerged, nondangerous",18.386675,-75.003183
3,13785,UNKNOWN,"Wreck - Submerged, nondangerous",18.481217,-66.132017
4,13786,UNKNOWN,"Wreck - Submerged, nondangerous",18.484647,-66.125219
5,2751,ANTONIO LOPEZ,"Wreck - Submerged, nondangerous",18.478583,-66.231083
6,3160,JE CROIS EN DIUE,"Wreck - Submerged, nondangerous",18.666667,-73.100000
7,3162,JOHANNE,"Wreck - Submerged, nondangerous",19.000000,-73.000000
8,2942,EASTERN CLOUD,"Wreck - Submerged, nondangerous",22.417111,-74.499283
9,7783,CARIBE,"Wreck - Submerged, nondangerous",18.681325,-66.166278
10,15081,WRECK,"Wreck - Submerged, nondangerous",18.500000,-65.800000
11,15190,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.270100,-65.017800
12,15191,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.255300,-65.012600
13,15192,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.253222,-64.977833
14,15193,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.261361,-64.941250

In [13]:
site_name = []
site_id = []
distance = []

In [17]:
for index, row in test_df.iterrows():
    latitude = str(row["LATDEC"])
    longitude = str(row["LONDEC"])
    
    url = 'http://api.divesites.com/?mode=sites'
    query_url = url + '&lat=' + latitude + '&lng=' + longitude + '&dist=25'
    
    response =  requests.get(query_url)
    response_json = response.json()
    
    try:
        site_name.append(response_json["sites"][0]["name"])
        site_id.append(response_json["sites"][0]["id"])
        distance.append(response_json["sites"][0]["distance"])
    except IndexError:
        site_name.append(np.nan)
        site_id.append(np.nan)
        distance.append(np.nan)

In [18]:
site_name

['Rat Island',
 nan,
 nan,
 'Escambro',
 'Escambro',
 'Escambro',
 nan,
 nan,
 nan,
 'Escambro',
 'Seven Seas',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Wye Reef',
 'Rat Island',
 nan,
 nan,
 'Escambro',
 'Escambro',
 'Escambro',
 nan,
 nan,
 nan,
 'Escambro',
 'Seven Seas',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Wye Reef']

<h3> Running with Wrecks Data

In [3]:
wrecks_cleaned_df = pd.read_csv('Resources/wrecks_cleaned.csv')
wrecks_cleaned_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High

In [4]:
site_name = []
site_id = []
distance = []

In [6]:
for index, row in wrecks_cleaned_df.iterrows():
    latitude = str(row["Lat"])
    longitude = str(row["Lng"])
    
    url = 'http://api.divesites.com/?mode=sites'
    query_url = url + '&lat=' + latitude + '&lng=' + longitude + '&dist=25'
    
    response =  requests.get(query_url)
    response_json = response.json()
    
    try:
        site_name.append(response_json["sites"][0]["name"])
        site_id.append(response_json["sites"][0]["id"])
        distance.append(response_json["sites"][0]["distance"])
    except IndexError:
        site_name.append(np.nan)
        site_id.append(np.nan)
        distance.append(np.nan)

In [7]:
site_name

['Presque Isle',
 'Mecosta',
 'Mecosta',
 'Mecosta',
 'St. Clair River',
 nan,
 nan,
 'Thelma Spencer Park',
 'Thelma Spencer Park',
 'Harsens Island, MI',
 'Harsens Island, MI',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Mecosta',
 'Mecosta',
 'Anthony Wayne',
 'George Worthington',
 'lake erie',
 'George Worthington',
 'Frank E. Vigor',
 nan,
 'George Worthington',
 'lake erie',
 'Thelma Spencer Park',
 'Thelma Spencer Park',
 'Lycoming',
 'Presque Isle',
 'C. B. Benson',
 nan,
 nan,
 nan,
 'Mecosta',
 'Mecosta',
 'Mecosta',
 'Mecosta',
 'Presque Isle',
 nan,
 'William H. Wolf',
 'Mecosta',
 'Presque Isle',
 'Rat Island',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 nan,
 'Puerto Rico',
 'Captains Reef USVI',
 'Coki Beach',
 'La Pared de la Parguera',
 'La Pared de la Parguera',
 'La Pared de la Parguera',
 'Puerto Rico',
 nan,
 nan,
 nan,
 'Escambro',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 nan,
 nan,
 nan,
 'Blue Chute',
 'The Indians',
 'Carval Rock',
 'Carval Rock',
 'Carval Rock',
 'St. John',
 'Escambro',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Figure Eight Reef',
 'Figure Eight Reef',
 'Escambro',
 'Escambro',
 'Frederiksted Pier',
 'Fajardo cave',
 'Fajardo cave',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Charlotte Amalie',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Captains Reef USVI',
 'Escambro',
 nan,
 'Escambro',
 'Escambro',
 'Escambro',
 'Escambro',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Escambro',
 'Twin Anchors',
 'Cayo Blanco',
 'Seven Seas',
 'Figure Eight Reef',
 nan,
 nan,
 nan,
 nan,
 'Figure Eight Reef',
 'Figure Eight Reef',
 'Figure Eight Reef',
 'Figure Eight Reef',
 'Figure Eight Reef',
 'Figure Eight Reef',
 'Figure Eight Reef',
 nan,
 nan,
 'Escambro',
 'Seven Seas',
 'Wye Reef',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Captains Reef USVI',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Wye Reef',
 'Wye Reef',
 'Eagle Ray',
 'Eagle Ray',
 'Eagle Ray',
 'Eagle Ray',
 'Blue Chute',
 nan,
 'The Pier',
 'North Star',
 'Frederiksted Pier',
 'Captains Reef USVI',
 'Periwinkle Reef',
 'Punta de Soldado',
 'Wye Reef',
 'Captains Reef USVI',
 'Seven Seas',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Cuyahoga',
 'Chesapeake Light Tower',
 'The Tiger',
 'Chesapeake Light Tower',
 'The Blackfish Banks Artificial Reef',
 'China Wreck',
 nan,
 'China Wreck',
 nan,
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 nan,
 nan,
 nan,
 'Cherokee (The Gunboat)',
 'Washingtonian Wreck',
 'Washingtonian Wreck',
 'alantic ocean',
 'China Wreck',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'China Wreck',
 'Cuyahoga',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Cuyahoga',
 'Wendys Wreck',
 'China Wreck',
 'Wendys Wreck',
 'Wendys Wreck',
 nan,
 nan,
 'Chesapeake Light Tower',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 nan,
 'China Wreck',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 nan,
 'China Wreck',
 'China Wreck',
 'Cuyahoga',
 'Chesapeake Light Tower',
 'China Wreck',
 nan,
 'Cuyahoga',
 'Cuyahoga',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Marine Electric',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 nan,
 'The Blackfish Banks Artificial Reef',
 'Gordon C Cooke(Porthole wreck)',
 'Northeastern',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 nan,
 'Cuyahoga',
 'Cuyahoga',
 'Chesapeake Light Tower',
 nan,
 'Marine Electric',
 nan,
 'Australia',
 nan,
 'Veturia',
 'Australia',
 'Australia',
 'Australia',
 nan,
 nan,
 nan,
 'Cuyahoga',
 'Cuyahoga',
 'Cuyahoga',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Australia',
 nan,
 'Australia',
 'Australia',
 'Veturia',
 'Australia',
 nan,
 nan,
 'Zane Grey',
 nan,
 'Zane Grey',
 nan,
 nan,
 'Zane Grey',
 'Zane Grey',
 'Zane Grey',
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Blackfish Banks Artificial Reef',
 nan,
 'The Blackfish Banks Artificial Reef',
 nan,
 nan,
 'The Blackfish Banks Artificial Reef',
 nan,
 nan,
 'The Blackfish Banks Artificial Reef',
 'The Marine Electric',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 'African Queen',
 nan,
 'Zane Grey',
 'U-85',
 'Advance II',
 'Jackson',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Huron',
 'Huron',
 nan,
 'Huron',
 nan,
 'Jackson',
 'U-85',
 'U-85',
 'Saetia Wreck',
 'The Marine Electric',
 'The Marine Electric',
 'The Marine Electric',
 'The Marine Electric',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 'Gordon C Cooke(Porthole wreck)',
 nan,
 'The Blackfish Banks Artificial Reef',
 nan,
 nan,
 'Saetia Wreck',
 nan,
 'Jackson',
 nan,
 'Jackson',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'The Tiger',
 nan,
 'The Tiger',
 nan,
 nan,
 'Zachary Berg Wreck',
 nan,
 nan,
 'Clythia Wreck',
 'Clythia Wreck',
 'Saetia Wreck',
 'Blenny',
 nan,
 'Gordon C Cooke(Porthole wreck)',
 'Blenny',
 'Blenny',
 'African Queen Wreck',
 'JR Martin Tug',
 'JR Martin Tug',
 'Saetia',
 'Saetia',
 'Saetia',
 'Saetia',
 'Saetia',
 'Zachary Berg Wreck',
 'Memorial Reef',
 'Zachary Berg Wreck',
 'Zachary Berg Wreck',
 'Zachary Berg Wreck',
 'Saetia Wreck',
 'Zachary Berg Wreck',
 'The Blackfish Banks Artificial Reef',
 'The Boom Wreck',
 nan,
 nan,
 nan,
 'Zachary Berg Wreck',
 'Zachary Berg Wreck',
 nan,
 'Saetia Wreck',
 'Memorial Reef',
 'H buoy wreck',
 'Kathleen Riggin',
 'Kathleen Riggin',
 'Kathleen Riggin',
 'H buoy wreck',
 'Fenwick Shoals',
 'Fenwick Shoals',
 'Saetia Wreck',
 'H buoy wreck',
 'Elizabeth Palmer',
 'Manhattan',
 'Fenwick Shoals',
 'Hvsoself',
 'USS NINA',
 'Fenwick Shoals',
 'USS NINA',
 'USS NINA',
 'Hvsoself',
 'USS NINA',
 'Fenwick Shoals',
 'Fenwick Shoals',
 'Fenwick Shoals',
 'Fenwick Shoals',
 'USS NINA',
 'Fenwick Shoals',
 'Washingtonian',
 'Fenwick Shoals',
 'Elizabeth Palmer',
 'Fenwick Shoals',
 'Fenwick Shoals',
 'Pattys Pitcher Wreck',
 'Independence Day Wreck',
 'Independence Day Wreck',
 'Manhattan',
 'Manhattan',
 'Elizabeth Palmer',
 'Manhattan',
 'Independence Day Wreck',
 'Independence Day Wreck',
 'Independence Day Wreck',
 'Independence Day Wreck',
 'City Of Athens',
 'City Of Athens',
 'Cherokee (The Gunboat)',
 'Washingtonian Wreck',
 'Cherokee (The Gunboat)',
 'Cherokee (The Gunboat)',
 'Indian River Inlet',
 'alantic ocean',
 'Indian River Inlet',
 'Indian River Inlet',
 'Indian River Inlet',
 'alantic ocean',
 'USS Jacob Jones',
 'Wendys Wreck',
 'Chesapeake Light Tower',
 'USS Jacob Jones',
 'Wendys Wreck',
 nan,
 'Northern Pacific',
 'USS Jacob Jones',
 'Northern Pacific',
 'Wendys Wreck',
 'Wendys Wreck',
 'Wendys Wreck',
 'Wendys Wreck',
 'Wendys Wreck',
 'Northern Pacific',
 'Indian River Inlet',
 'Indian River Inlet',
 'Wendys Wreck',
 'China Wreck',
 'Wendys Wreck',
 nan,
 nan,
 nan,
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 nan,
 'Indian River Inlet',
 'Indian River Inlet',
 'Indian River Inlet',
 'Indian River Inlet',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 nan,
 nan,
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 nan,
 'Empire Gem',
 'Zane Grey',
 'Zane Grey',
 'Advance II',
 'Huron',
 'The Tiger',
 'Zachary Berg Wreck',
 'The Blackfish Banks Artificial Reef',
 'The Tiger',
 'The Tiger',
 'Zane Grey',
 'Huron',
 nan,
 nan,
 'Chesapeake Light Tower',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'Cuyahoga',
 'Huron',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'MERLIN/ AUGUSTA',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'H buoy wreck',
 'Deliah',
 'Deliah',
 'Deliah',
 'China Wreck',
 'alantic ocean',
 'Jakes Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'Manhattan',
 'China Wreck',
 nan,
 nan,
 'The Blackfish Banks Artificial Reef',
 nan,
 nan,
 'The Blackfish Banks Artificial Reef',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'George R Skolfield Wreck',
 nan,
 'USS Jacob Jones',
 'Wendys Wreck',
 nan,
 'Chesapeake Light Tower',
 nan,
 'Chesapeake Light Tower',
 'USS S 5 Wreck',
 'Indian River Inlet',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 nan,
 'The Blackfish Banks Artificial Reef',
 nan,
 nan,
 nan,
 'The Boom Wreck',
 'The Blackfish Banks Artificial Reef',
 nan,
 nan,
 nan,
 'Chesapeake Light Tower',
 nan,
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Clythia Wreck',
 'Clythia Wreck',
 'Clythia Wreck',
 'Clythia Wreck',
 nan,
 'Clythia Wreck',
 'The Tiger',
 'Chesapeake Light Tower',
 nan,
 nan,
 'MERLIN/ AUGUSTA',
 'The Tiger',
 'The Tiger',
 nan,
 'Advance II',
 'Zane Grey',
 'Zane Grey',
 'Zane Grey',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'Cuyahoga',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'The Blackfish Banks Artificial Reef',
 nan,
 nan,
 nan,
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'Wendys Wreck',
 'Chesapeake Light Tower',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'China Wreck',
 'USS S 5 Wreck',
 'Chesapeake Light Tower',
 nan,
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 nan,
 'Chesapeake Light Tower',
 'The Marine Electric',
 'The Boom Wreck',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'Chesapeake Light Tower',
 'The Blackfish Banks Artificial Reef',
 'The Boom Wreck',
 'Chesapeake Light Tower',
 'The Blackfish Banks Artificial Reef',
 'The Blackfish Banks Artificial Reef',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'MERLIN/ AUGUSTA',
 'African Queen',
 'Chesapeake Light Tower',
 'MERLIN/ AUGUSTA',
 'Cuyahoga',
 'Cuyahoga',
 'Cuyahoga',
 'MERLIN/ AUGUSTA',
 nan,
 'Cuyahoga',
 'Cuyahoga',
 nan,
 nan,
 'Mountain Point',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Mountain Point',
 'Mountain Point',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Mountain Point',
 'Mountain Point',
 'Mountain Point',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Mountain Point',
 'Mountain Point',
 'Mountain Point',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Mountain Point',
 'Mountain Point',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'St. Louis',
 'US Coast Guard Boat 56022',
 nan,
 'US Coast Guard Boat 56022',
 'David W. Mills',
 nan,
 'US Coast Guard Boat 56022',
 'US Coast Guard Boat 56022',
 'US Coast Guard Boat 56022',
 'David W. Mills',
 'Humber Bay West',
 'Iroquois/HMS Anson',
 'St. Louis',
 'St. Louis',
 'St. Louis',
 'Wisconsin',
 'Wings of Wind',
 'J. D. Marshall',
 'J. D. Marshall',
 nan,
 'W.L. Brown',
 'West Bay Wreck',
 nan,
 'Wisconsin (1882)',
 nan,
 'Keuka wreck',
 'J. D. Marshall',
 'J. D. Marshall',
 'Material Service Barge',
 'J. D. Marshall',
 'Material Service Barge',
 'Tacoma Tug',
 'Tacoma Tug',
 'Wings of Wind',
 'Wings of Wind',
 'Wings of Wind',
 'David Dows Wreck',
 'David Dows Wreck',
 'David Dows Wreck',
 'David Dows Wreck',
 'David Dows Wreck',
 'David Dows Wreck',
 'George Morley Wreck',
 'George Morley Wreck',
 'George Morley Wreck',
 'George Morley Wreck',
 'George Morley Wreck',
 'George Morley Wreck',
 'George Morley Wreck',
 'George Morley Wreck',
 nan,
 'George Morley Wreck',
 'St. Mary',
 'St. Mary',
 'Grain Barge',
 'Wisconsin',
 'Grand Haven North Pier',
 'Grand Haven North Pier',
 '906 Dredge',
 'Prins Willem V',
 'Appomattox Wreck',
 'Appomattox Wreck',
 'Muskegon South Breakwall',
 'Niagara Wreck',
 nan,
 'Hetty Taylor Wreck',
 nan,
 'Rouse Simmons Wreck',
 nan,
 nan,
 nan,
 'George Morley Wreck',
 'George Morley Wreck',
 'Wells Burt',
 'Wells Burt',
 'Wells Burt',
 'David Dows Wreck',
 'David Dows Wreck',
 'Wings of Wind',
 'Wings Of Wind Wreck',
 'Wings Of Wind Wreck',
 'Material Service Barge',
 'Material Service Barge',
 'Hammond Marina',
 'Hammond Marina',
 'Lake Etta County Park',
 'Lake Etta County Park',
 'Lake Etta County Park',
 'Wisconsin (1882)',
 nan,
 'Edward E. Gillen Wreck',
 'Edward E. Gillen Wreck',
 'Norlond Wreck',
 'Lumberman Wreck',
 'Kate Kelly Wreck',
 'Rosinco Wreck',
 'Twin Rocks',
 'Fingers',
 'Fingers',
 'Fingers',
 'Stornetta Cove - Mendocino Coast',
 'Arena Cove / Pt. Arena - Mendocino Coast',
 'Winchester Bay',
 'Winchester Bay',
 nan,
 nan,
 nan,
 'Twin Rocks',
 'Twin Rocks',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Winchester Bay',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Stornetta Cove - Mendocino Coast',
 nan,
 nan,
 'Twin Rocks',
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [8]:
dive_sites_data_df = wrecks_cleaned_df

In [15]:
dive_sites_data_df["Dive Site Name"] = site_name
dive_sites_data_df["Dive Site ID"] = site_id
dive_sites_data_df["Distance from Wreck"] = distance

In [18]:
dive_sites_data_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality,Dive Site Name,Dive Site ID,Distance from Wreck
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,Presque Isle,23369,1.97
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,Mecosta,23908,17.20
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,Mecosta,23908,16.96
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,Mecosta,23908,16.34
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,St. Clair River,22589,0.10

In [17]:
dive_sites_data_df.to_csv('Resources/wrecks_and_sites.csv', index = False)