In [20]:
import requests
import pprint
import json

In [21]:
import pandas as pd
import numpy as np

In [2]:
url = 'http://api.divesites.com/?mode=sites'

In [3]:
# Testing API 
lat = '47.6031537682643'
lng = '-122.336164712906'
dist = '2'

In [4]:
query_url = url + '&lat=' + lat + '&lng=' + lng + '&dist=' + dist

In [5]:
pp = pprint.PrettyPrinter(indent = 4)

In [10]:
sites = requests.get(query_url).json()
print(json.dumps(sites, indent = 4, sort_keys = True))

{
    "loc": {
        "lat": "47.6031537682643",
        "lng": "-122.336164712906"
    },
    "request": {
        "api": 1,
        "dist": "2",
        "loc": {
            "lat": "47.6031537682643",
            "lng": "-122.336164712906"
        },
        "mode": "sites",
        "str": null,
        "timestamp": 1606916406
    },
    "result": true,
    "sites": [
        {
            "currents": null,
            "description": null,
            "distance": "0.41",
            "equipment": null,
            "hazards": null,
            "id": "17631",
            "lat": "47.6075",
            "lng": "-122.3421",
            "marinelife": null,
            "maxdepth": null,
            "mindepth": null,
            "name": "Seattle Aquarium",
            "predive": null,
            "water": null
        }
    ],
    "version": 1
}

In [17]:
site_name = sites["sites"][0]["name"]
site_name

'Seattle Aquarium'

In [18]:
site_id = sites["sites"][0]["id"]
site_id

'17631'

In [22]:
#Distance from the original coordinates in miles
distance = sites["sites"][0]["distance"]
distance

'0.41'

In [23]:
# Importing test csv to run through api 
test_df = pd.read_csv('Resources/testing.csv')
test_df

,RECRD,VESSLTERMS,FEATURE_TYPE,LATDEC,LONDEC
0,15083,WRECK,"Wreck - Submerged, nondangerous",18.448611,-65.599444
1,10864,HMS LOWESTOFFE,"Wreck - Submerged, nondangerous",21.515556,-72.884444
2,3,FERNGARTH,"Wreck - Submerged, nondangerous",18.386675,-75.003183
3,13785,UNKNOWN,"Wreck - Submerged, nondangerous",18.481217,-66.132017
4,13786,UNKNOWN,"Wreck - Submerged, nondangerous",18.484647,-66.125219
5,2751,ANTONIO LOPEZ,"Wreck - Submerged, nondangerous",18.478583,-66.231083
6,3160,JE CROIS EN DIUE,"Wreck - Submerged, nondangerous",18.666667,-73.100000
7,3162,JOHANNE,"Wreck - Submerged, nondangerous",19.000000,-73.000000
8,2942,EASTERN CLOUD,"Wreck - Submerged, nondangerous",22.417111,-74.499283
9,7783,CARIBE,"Wreck - Submerged, nondangerous",18.681325,-66.166278
10,15081,WRECK,"Wreck - Submerged, nondangerous",18.500000,-65.800000
11,15190,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.270100,-65.017800
12,15191,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.255300,-65.012600
13,15192,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.253222,-64.977833
14,15193,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.261361,-64.941250

In [24]:
site_name = []
site_id = []
distance = []

In [28]:
for index, row in test_df.iterrows():
    latitude = str(row["LATDEC"])
    longitude = str(row["LONDEC"])
    
    url = 'http://api.divesites.com/?mode=sites'
    query_url = url + '&lat=' + latitude + '&lng=' + longitude + '&dist=25'
    
    response =  requests.get(query_url)
    response_json = response.json()
    
    try:
        site_name.append(response_json["sites"][0]["name"])
        site_id.append(response_json["sites"][0]["id"])
        distance.append(response_json["sites"][0]["distance"])
    except IndexError:
        site_name.append(np.nan)
        site_id.append(np.nan)
        distance.append(np.nan)

In [29]:
site_name

[nan,
 nan,
 nan,
 'Escambro',
 'Escambro',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Rat Island',
 nan,
 nan,
 'Escambro',
 'Escambro',
 'Escambro',
 nan,
 nan,
 nan,
 'Escambro',
 'Seven Seas',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Wye Reef']

In [30]:
site_id

[nan,
 nan,
 nan,
 '23774',
 '23774',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '22187',
 nan,
 nan,
 '23774',
 '23774',
 '23774',
 nan,
 nan,
 nan,
 '23774',
 '18851',
 '24080',
 '24080',
 '24080',
 '23635']

In [31]:
distance

[nan,
 nan,
 nan,
 '1.55',
 '1.05',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 '4.75',
 nan,
 nan,
 '1.55',
 '1.05',
 '7.96',
 nan,
 nan,
 nan,
 '13.72',
 '13.93',
 '4.07',
 '4.90',
 '4.91',
 '3.24']