In [1]:
import requests
import pprint
import json

In [2]:
import pandas as pd
import numpy as np

<h3> TESTING

In [4]:
url = 'http://api.divesites.com/?mode=sites'

In [5]:
# Testing API 
lat = '47.6031537682643'
lng = '-122.336164712906'
dist = '2'

In [6]:
query_url = url + '&lat=' + lat + '&lng=' + lng + '&dist=' + dist

In [7]:
pp = pprint.PrettyPrinter(indent = 4)

In [8]:
sites = requests.get(query_url).json()
print(json.dumps(sites, indent = 4, sort_keys = True))

{
    "loc": {
        "lat": "47.6031537682643",
        "lng": "-122.336164712906"
    },
    "request": {
        "api": 1,
        "dist": "2",
        "loc": {
            "lat": "47.6031537682643",
            "lng": "-122.336164712906"
        },
        "mode": "sites",
        "str": null,
        "timestamp": 1607043518
    },
    "result": true,
    "sites": [
        {
            "currents": null,
            "description": null,
            "distance": "0.41",
            "equipment": null,
            "hazards": null,
            "id": "17631",
            "lat": "47.6075",
            "lng": "-122.3421",
            "marinelife": null,
            "maxdepth": null,
            "mindepth": null,
            "name": "Seattle Aquarium",
            "predive": null,
            "water": null
        }
    ],
    "version": 1
}

In [9]:
site_name = sites["sites"][0]["name"]
site_name

'Seattle Aquarium'

In [10]:
site_id = sites["sites"][0]["id"]
site_id

'17631'

In [11]:
#Distance from the original coordinates in miles
distance = sites["sites"][0]["distance"]
distance

'0.41'

In [12]:
# Importing test csv to run through api 
test_df = pd.read_csv('Resources/testing.csv')
test_df

,RECRD,VESSLTERMS,FEATURE_TYPE,LATDEC,LONDEC
0,15083,WRECK,"Wreck - Submerged, nondangerous",18.448611,-65.599444
1,10864,HMS LOWESTOFFE,"Wreck - Submerged, nondangerous",21.515556,-72.884444
2,3,FERNGARTH,"Wreck - Submerged, nondangerous",18.386675,-75.003183
3,13785,UNKNOWN,"Wreck - Submerged, nondangerous",18.481217,-66.132017
4,13786,UNKNOWN,"Wreck - Submerged, nondangerous",18.484647,-66.125219
5,2751,ANTONIO LOPEZ,"Wreck - Submerged, nondangerous",18.478583,-66.231083
6,3160,JE CROIS EN DIUE,"Wreck - Submerged, nondangerous",18.666667,-73.100000
7,3162,JOHANNE,"Wreck - Submerged, nondangerous",19.000000,-73.000000
8,2942,EASTERN CLOUD,"Wreck - Submerged, nondangerous",22.417111,-74.499283
9,7783,CARIBE,"Wreck - Submerged, nondangerous",18.681325,-66.166278
10,15081,WRECK,"Wreck - Submerged, nondangerous",18.500000,-65.800000
11,15190,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.270100,-65.017800
12,15191,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.255300,-65.012600
13,15192,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.253222,-64.977833
14,15193,OBSTRUCTION,"Wreck - Submerged, nondangerous",18.261361,-64.941250

In [13]:
site_name = []
site_id = []
distance = []

In [17]:
for index, row in test_df.iterrows():
    latitude = str(row["LATDEC"])
    longitude = str(row["LONDEC"])
    
    url = 'http://api.divesites.com/?mode=sites'
    query_url = url + '&lat=' + latitude + '&lng=' + longitude + '&dist=25'
    
    response =  requests.get(query_url)
    response_json = response.json()
    
    try:
        site_name.append(response_json["sites"][0]["name"])
        site_id.append(response_json["sites"][0]["id"])
        distance.append(response_json["sites"][0]["distance"])
    except IndexError:
        site_name.append(np.nan)
        site_id.append(np.nan)
        distance.append(np.nan)

In [18]:
site_name

['Rat Island',
 nan,
 nan,
 'Escambro',
 'Escambro',
 'Escambro',
 nan,
 nan,
 nan,
 'Escambro',
 'Seven Seas',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Wye Reef',
 'Rat Island',
 nan,
 nan,
 'Escambro',
 'Escambro',
 'Escambro',
 nan,
 nan,
 nan,
 'Escambro',
 'Seven Seas',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Charlotte Amalie',
 'Wye Reef']

<h3> Running with Wrecks Data

In [3]:
wrecks_cleaned_df = pd.read_csv('Resources/wrecks_cleaned.csv')
wrecks_cleaned_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High

In [4]:
site_name = []
site_id = []
distance = []

In [6]:
for index, row in wrecks_cleaned_df.iterrows():
    latitude = str(row["Lat"])
    longitude = str(row["Lng"])
    
    url = 'http://api.divesites.com/?mode=sites'
    query_url = url + '&lat=' + latitude + '&lng=' + longitude + '&dist=25'
    
    response =  requests.get(query_url)
    response_json = response.json()
    
    try:
        site_name.append(response_json["sites"][0]["name"])
        site_id.append(response_json["sites"][0]["id"])
        distance.append(response_json["sites"][0]["distance"])
    except IndexError:
        site_name.append(np.nan)
        site_id.append(np.nan)
        distance.append(np.nan)

In [8]:
dive_sites_data_df = wrecks_cleaned_df

In [15]:
dive_sites_data_df["Dive Site Name"] = site_name
dive_sites_data_df["Dive Site ID"] = site_id
dive_sites_data_df["Distance from Wreck"] = distance

In [18]:
dive_sites_data_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality,Dive Site Name,Dive Site ID,Distance from Wreck
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,Presque Isle,23369,1.97
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,Mecosta,23908,17.20
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,Mecosta,23908,16.96
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,Mecosta,23908,16.34
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,St. Clair River,22589,0.10

In [17]:
dive_sites_data_df.to_csv('Resources/wrecks_and_sites.csv', index = False)

<h3> Running with Obstruction Data

In [3]:
obstruct_cleaned_df = pd.read_csv('Resources/obstruct_cleaned.csv')
obstruct_cleaned_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality
0,54094.0,OBSTRUCTION,Obstruction - Submerged,55.934600,-155.540600,NaN
1,53696.0,OBSTRUCTION,Obstruction - Submerged,57.726444,-152.519500,High
2,53695.0,OBSTRUCTION,Obstruction - Submerged,57.721194,-152.526222,High
3,53719.0,OBSTRUCTION,Obstruction - Submerged,54.272833,-164.857167,Low
4,53721.0,OBSTRUCTION,Obstruction - Submerged,54.340000,-164.740167,Low

In [4]:
site_name = []
site_id = []
distance = []

In [6]:
for index, row in obstruct_cleaned_df.iterrows():
    latitude = str(row["Lat"])
    longitude = str(row["Lng"])
    
    url = 'http://api.divesites.com/?mode=sites'
    query_url = url + '&lat=' + latitude + '&lng=' + longitude + '&dist=25'
    
    response =  requests.get(query_url)
    response_json = response.json()
    
    try:
        site_name.append(response_json["sites"][0]["name"])
        site_id.append(response_json["sites"][0]["id"])
        distance.append(response_json["sites"][0]["distance"])
    except IndexError:
        site_name.append(np.nan)
        site_id.append(np.nan)
        distance.append(np.nan)

In [12]:
new_dive_sites_data_df = obstruct_cleaned_df

In [10]:
new_dive_sites_data_df["Dive Site Name"] = site_name
new_dive_sites_data_df["Dive Site ID"] = site_id
new_dive_sites_data_df["Distance from Obstruction"] = distance

In [13]:
new_dive_sites_data_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality,Dive Site Name,Dive Site ID,Distance from Obstruction
0,54094.0,OBSTRUCTION,Obstruction - Submerged,55.934600,-155.540600,NaN,NaN,NaN,NaN
1,53696.0,OBSTRUCTION,Obstruction - Submerged,57.726444,-152.519500,High,NaN,NaN,NaN
2,53695.0,OBSTRUCTION,Obstruction - Submerged,57.721194,-152.526222,High,NaN,NaN,NaN
3,53719.0,OBSTRUCTION,Obstruction - Submerged,54.272833,-164.857167,Low,NaN,NaN,NaN
4,53721.0,OBSTRUCTION,Obstruction - Submerged,54.340000,-164.740167,Low,NaN,NaN,NaN

In [14]:
new_dive_sites_data_df.to_csv('Resources/obstructs_and_sites.csv', index = False)