In [9]:
import pandas as pd

In [10]:
wrecks = pd.read_csv('Resources/wrecks_history.csv')

In [11]:
obstructs = pd.read_csv('Resources/obstruct_history.csv')

In [12]:
wrecks.head()

   Record #                                            History
0     14620    F00542: S-W904-NRT4-07; Office review indica...
1     14292    H11689/2007-- S-w920-NRT4-07;  Dangerous sub...
2     14296    H11689/2007-- S-W920-NRT4-07;  A large subme...
3     14298    H11689/2007-- S-W920-NRT4-07;  A submerged w...
4     14207    CL 1883/1999--  The Canadian Hydrographic Se...

In [14]:
obstructs = obstructs.fillna(0)
obstructs["Record #"] = obstructs["Record #"].astype(int)

In [15]:
obstructs.head()

   Record #                                            HISTORY
0     54094  H12450/2012; NOS -- Investigated by NOAA SHIP ...
1     53696  H10916(1999)-- Dolphin at the end of pier in r...
2     53695  H10916(1999)-- Submerged pile along wharf (EAN...
3     53719  -LNM09/95--17th CGD, 02/28/95: Submerged buoy ...
4     53721  --LNM09/95--17th CGD, 02/28/95: Submerged buoy...

In [17]:
dfs = [wrecks, obstructs]

In [18]:
history_df = pd.concat(dfs)

In [19]:
history_df.head()

   Record #                                            History HISTORY
0     14620    F00542: S-W904-NRT4-07; Office review indica...     NaN
1     14292    H11689/2007-- S-w920-NRT4-07;  Dangerous sub...     NaN
2     14296    H11689/2007-- S-W920-NRT4-07;  A large subme...     NaN
3     14298    H11689/2007-- S-W920-NRT4-07;  A submerged w...     NaN
4     14207    CL 1883/1999--  The Canadian Hydrographic Se...     NaN

In [20]:
history_df.to_csv('Resources/final_history.csv', index = False)