In [36]:
import pandas as pd

In [37]:
# The path to our CSV file
file = "Resources/AWOIS_Obstructions.csv"

# Read our Obstructions data into pandas
#all_df = pd.read_csv(file, encoding = 'ISO-8859-1')

all_df = pd.read_csv(file, encoding='latin1')

all_df.head()

,RECRD,VESSLTERMS,FEATURE_TYPE,LATDEC,LONDEC,GP_QUALITY,DEPTH,SOUNDING_TYPE,YEARSUNK,HISTORY
0,54094.0,OBSTRUCTION,Obstruction - Submerged,55.934600,-155.540600,NaN,NaN,NaN,NaN,H12450/2012; NOS -- Investigated by NOAA SHIP ...
1,53696.0,OBSTRUCTION,Obstruction - Submerged,57.726444,-152.519500,High,NaN,Fathoms and tenths,NaN,H10916(1999)-- Dolphin at the end of pier in r...
2,53695.0,OBSTRUCTION,Obstruction - Submerged,57.721194,-152.526222,High,NaN,Fathoms and tenths,NaN,H10916(1999)-- Submerged pile along wharf (EAN...
3,53719.0,OBSTRUCTION,Obstruction - Submerged,54.272833,-164.857167,Low,NaN,NaN,NaN,"-LNM09/95--17th CGD, 02/28/95: Submerged buoy ..."
4,53721.0,OBSTRUCTION,Obstruction - Submerged,54.340000,-164.740167,Low,NaN,NaN,NaN,"--LNM09/95--17th CGD, 02/28/95: Submerged buoy..."

In [38]:
# Get a list of all of our columns for easy reference
all_df.columns

Index(['RECRD', 'VESSLTERMS', 'FEATURE_TYPE', 'LATDEC', 'LONDEC', 'GP_QUALITY',
       'DEPTH', 'SOUNDING_TYPE', 'YEARSUNK', 'HISTORY'],
      dtype='object')

In [39]:
# Drop columns "depth" "sounding_type" "yearsunk" 
clean_df = all_df.drop(["DEPTH","SOUNDING_TYPE","YEARSUNK"], axis = 1, inplace=False)

clean_df.head()

,RECRD,VESSLTERMS,FEATURE_TYPE,LATDEC,LONDEC,GP_QUALITY,HISTORY
0,54094.0,OBSTRUCTION,Obstruction - Submerged,55.934600,-155.540600,NaN,H12450/2012; NOS -- Investigated by NOAA SHIP ...
1,53696.0,OBSTRUCTION,Obstruction - Submerged,57.726444,-152.519500,High,H10916(1999)-- Dolphin at the end of pier in r...
2,53695.0,OBSTRUCTION,Obstruction - Submerged,57.721194,-152.526222,High,H10916(1999)-- Submerged pile along wharf (EAN...
3,53719.0,OBSTRUCTION,Obstruction - Submerged,54.272833,-164.857167,Low,"-LNM09/95--17th CGD, 02/28/95: Submerged buoy ..."
4,53721.0,OBSTRUCTION,Obstruction - Submerged,54.340000,-164.740167,Low,"--LNM09/95--17th CGD, 02/28/95: Submerged buoy..."

In [40]:
clean_df = clean_df.rename(columns = {'RECRD': 'Record #', 'VESSLTERMS': 'Vessel Terms',
                                      'FEATURE_TYPE': 'Feature Type', 'LATDEC': 'Lat', 'LONDEC': 'Lng',
                                      'GP_QUALITY': 'GP Quality'})

In [41]:
clean_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality,HISTORY
0,54094.0,OBSTRUCTION,Obstruction - Submerged,55.934600,-155.540600,NaN,H12450/2012; NOS -- Investigated by NOAA SHIP ...
1,53696.0,OBSTRUCTION,Obstruction - Submerged,57.726444,-152.519500,High,H10916(1999)-- Dolphin at the end of pier in r...
2,53695.0,OBSTRUCTION,Obstruction - Submerged,57.721194,-152.526222,High,H10916(1999)-- Submerged pile along wharf (EAN...
3,53719.0,OBSTRUCTION,Obstruction - Submerged,54.272833,-164.857167,Low,"-LNM09/95--17th CGD, 02/28/95: Submerged buoy ..."
4,53721.0,OBSTRUCTION,Obstruction - Submerged,54.340000,-164.740167,Low,"--LNM09/95--17th CGD, 02/28/95: Submerged buoy..."

In [42]:
history_df = clean_df.filter(["Record #","HISTORY"], axis = 1)
history_df.head()

   Record #                                            HISTORY
0   54094.0  H12450/2012; NOS -- Investigated by NOAA SHIP ...
1   53696.0  H10916(1999)-- Dolphin at the end of pier in r...
2   53695.0  H10916(1999)-- Submerged pile along wharf (EAN...
3   53719.0  -LNM09/95--17th CGD, 02/28/95: Submerged buoy ...
4   53721.0  --LNM09/95--17th CGD, 02/28/95: Submerged buoy...

In [43]:
clean_df.drop(["HISTORY"], axis = 1, inplace=True)

In [44]:
clean_df.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality
0,54094.0,OBSTRUCTION,Obstruction - Submerged,55.934600,-155.540600,NaN
1,53696.0,OBSTRUCTION,Obstruction - Submerged,57.726444,-152.519500,High
2,53695.0,OBSTRUCTION,Obstruction - Submerged,57.721194,-152.526222,High
3,53719.0,OBSTRUCTION,Obstruction - Submerged,54.272833,-164.857167,Low
4,53721.0,OBSTRUCTION,Obstruction - Submerged,54.340000,-164.740167,Low

In [45]:
clean_df.to_csv("Resources/obstruct_cleaned.csv", index = False)

In [46]:
history_df.to_csv("Resources/obstruct_history.csv", index = False)