In [1]:
import pandas as pd

In [2]:
wrecks_and_sites_df = pd.read_csv('Resources/wrecks_and_sites.csv')

In [3]:
wrecks_and_sites_df

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality,Dive Site Name,Dive Site ID,Distance from Wreck
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,Presque Isle,23369.0,1.97
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,Mecosta,23908.0,17.20
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,Mecosta,23908.0,16.96
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,Mecosta,23908.0,16.34
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,St. Clair River,22589.0,0.10
...,...,...,...,...,...,...,...,...,...
6217,2886,NORHTEASTERN,Not Charted,35.091842,-75.557928,Poor,Empire Gem,21172.0,6.36
6218,2887,ARRAYO,Not Charted,34.983500,-76.051289,Poor,Dixie Arrow,17289.0,6.18
6219,2889,NORDAL,Not Charted,34.691842,-75.584597,Poor,Tarpon,21175.0,11.20
6220,14917,USS VIRGINA,"Wreck - Submerged, nondangerous",35.019290,-75.285944,Med,Liberator,23540.0,8.09
6221,14635,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",34.718417,-76.691278,Low,Morehead City railroad bridge,23578.0,0.33

In [4]:
copy = wrecks_and_sites_df.copy()

In [9]:
copy = copy.dropna(subset = ['Dive Site Name'])

In [12]:
copy.head()

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality,Dive Site Name,Dive Site ID,Distance from Wreck
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,Presque Isle,23369.0,1.97
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,Mecosta,23908.0,17.20
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,Mecosta,23908.0,16.96
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,Mecosta,23908.0,16.34
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,St. Clair River,22589.0,0.10

In [13]:
#df.a = df.a.astype(float)
copy["Dive Site ID"] = copy["Dive Site ID"].astype(int)
copy

/Users/chloe/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality,Dive Site Name,Dive Site ID,Distance from Wreck
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,Presque Isle,23369,1.97
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,Mecosta,23908,17.20
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,Mecosta,23908,16.96
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,Mecosta,23908,16.34
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,St. Clair River,22589,0.10
...,...,...,...,...,...,...,...,...,...
6217,2886,NORHTEASTERN,Not Charted,35.091842,-75.557928,Poor,Empire Gem,21172,6.36
6218,2887,ARRAYO,Not Charted,34.983500,-76.051289,Poor,Dixie Arrow,17289,6.18
6219,2889,NORDAL,Not Charted,34.691842,-75.584597,Poor,Tarpon,21175,11.20
6220,14917,USS VIRGINA,"Wreck - Submerged, nondangerous",35.019290,-75.285944,Med,Liberator,23540,8.09
6221,14635,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",34.718417,-76.691278,Low,Morehead City railroad bridge,23578,0.33

In [14]:
wrecks_and_sites_df = copy

In [15]:
wrecks_df = wrecks_and_sites_df[["Record #", "Vessel Terms", "Feature Type", "Lat", "Lng", "GP Quality"]]
wrecks_df

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High
...,...,...,...,...,...,...
6217,2886,NORHTEASTERN,Not Charted,35.091842,-75.557928,Poor
6218,2887,ARRAYO,Not Charted,34.983500,-76.051289,Poor
6219,2889,NORDAL,Not Charted,34.691842,-75.584597,Poor
6220,14917,USS VIRGINA,"Wreck - Submerged, nondangerous",35.019290,-75.285944,Med
6221,14635,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",34.718417,-76.691278,Low

In [23]:
wrecks_df.to_csv("Resources/wrecks_transformed.csv", index = False)

In [20]:
dive_sites_df = wrecks_and_sites_df[["Dive Site ID", "Dive Site Name", "Distance from Wreck", 
                                     "Lat", "Lng", "Record #"]]

In [21]:
#dive_sites_df = dive_sites_df.rename(columns={"Record #" : "Wreck Record #"})

In [22]:
dive_sites_df

,Dive Site ID,Dive Site Name,Distance from Wreck,Lat,Lng,Record #
0,23369,Presque Isle,1.97,42.143528,-80.114556,14620
1,23908,Mecosta,17.20,41.498284,-81.759593,14292
2,23908,Mecosta,16.96,41.520448,-81.716076,14296
3,23908,Mecosta,16.34,41.512713,-81.709879,14298
4,22589,St. Clair River,0.10,42.993389,-82.426583,14207
...,...,...,...,...,...,...
6217,21172,Empire Gem,6.36,35.091842,-75.557928,2886
6218,17289,Dixie Arrow,6.18,34.983500,-76.051289,2887
6219,21175,Tarpon,11.20,34.691842,-75.584597,2889
6220,23540,Liberator,8.09,35.019290,-75.285944,14917
6221,23578,Morehead City railroad bridge,0.33,34.718417,-76.691278,14635

In [24]:
dive_sites_df.to_csv("Resources/dive_sites_transformed.csv", index = False)