In [1]:
import pandas as pd

In [2]:
# The path to our CSV file
file = "Resources/AWOIS_Wrecks.csv"

# Read our Wrecks data into pandas
all_df = pd.read_csv(file, encoding='latin1')
all_df.head()

,RECRD,VESSLTERMS,FEATURE_TYPE,LATDEC,LONDEC,GP_QUALITY,DEPTH,SOUNDING_TYPE,YEARSUNK,HISTORY
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,18.0,Feet and tenths,NaN,F00542: S-W904-NRT4-07; Office review indica...
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,26.0,Feet and tenths,NaN,H11689/2007-- S-w920-NRT4-07; Dangerous sub...
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,32.0,Feet and tenths,NaN,H11689/2007-- S-W920-NRT4-07; A large subme...
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,22.0,Feet and tenths,NaN,H11689/2007-- S-W920-NRT4-07; A submerged w...
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,34.0,Feet and tenths,NaN,CL 1883/1999-- The Canadian Hydrographic Se...

In [3]:
# Get a list of all of our columns for easy reference
all_df.columns

Index(['RECRD', 'VESSLTERMS', 'FEATURE_TYPE', 'LATDEC', 'LONDEC', 'GP_QUALITY',
       'DEPTH', 'SOUNDING_TYPE', 'YEARSUNK', 'HISTORY'],
      dtype='object')

In [4]:
# Drop columns "depth" "sounding_type" "yearsunk" 
clean_df = all_df.drop(["DEPTH","SOUNDING_TYPE","YEARSUNK"], axis = 1, inplace=False)

clean_df.head()

,RECRD,VESSLTERMS,FEATURE_TYPE,LATDEC,LONDEC,GP_QUALITY,HISTORY
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High,F00542: S-W904-NRT4-07; Office review indica...
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High,H11689/2007-- S-w920-NRT4-07; Dangerous sub...
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High,H11689/2007-- S-W920-NRT4-07; A large subme...
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High,H11689/2007-- S-W920-NRT4-07; A submerged w...
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High,CL 1883/1999-- The Canadian Hydrographic Se...

In [5]:
history_df = clean_df[['RECRD', 'HISTORY']].copy()
history_df = history_df.rename(columns = {"RECRD": "Record #", "HISTORY": "History"})

In [6]:
history_df

      Record #                                            History
0        14620    F00542: S-W904-NRT4-07; Office review indica...
1        14292    H11689/2007-- S-w920-NRT4-07;  Dangerous sub...
2        14296    H11689/2007-- S-W920-NRT4-07;  A large subme...
3        14298    H11689/2007-- S-W920-NRT4-07;  A submerged w...
4        14207    CL 1883/1999--  The Canadian Hydrographic Se...
...        ...                                                ...
6217      2886                SURVEY REQUIREMENTS\nNOT DETERMINED
6218      2887                SURVEY REQUIREMENTS\nNOT DETERMINED
6219      2889       \nDESCRIPTION                            ...
6220     14917  American Battleship of WWI vintage sunk during...
6221     14635    Unknown source; Charted subm wreck appears s...

[6222 rows x 2 columns]

In [7]:
history_df.to_csv('Resources/wrecks_history.csv', index = False)

In [8]:
clean_df = clean_df.drop(columns = ["HISTORY"])

In [9]:
clean_df = clean_df.rename(columns = {"RECRD": "Record #", "VESSLTERMS": "Vessel Terms", 
                                      "FEATURE_TYPE": "Feature Type", "LATDEC": "Lat", "LONDEC": "Lng", 
                                      "GP_QUALITY": "GP Quality"})
clean_df

,Record #,Vessel Terms,Feature Type,Lat,Lng,GP Quality
0,14620,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.143528,-80.114556,High
1,14292,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.498284,-81.759593,High
2,14296,ALGERIA,"Wreck - Submerged, dangerous to surface naviga...",41.520448,-81.716076,High
3,14298,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",41.512713,-81.709879,High
4,14207,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",42.993389,-82.426583,High
...,...,...,...,...,...,...
6217,2886,NORHTEASTERN,Not Charted,35.091842,-75.557928,Poor
6218,2887,ARRAYO,Not Charted,34.983500,-76.051289,Poor
6219,2889,NORDAL,Not Charted,34.691842,-75.584597,Poor
6220,14917,USS VIRGINA,"Wreck - Submerged, nondangerous",35.019290,-75.285944,Med
6221,14635,UNKNOWN,"Wreck - Submerged, dangerous to surface naviga...",34.718417,-76.691278,Low

In [10]:
clean_df.to_csv('Resources/wrecks_cleaned.csv', index = False)